@import "./reset.css";

/* 调整弹出框样式 */

.van-dialog {
  border-radius: 10px !important;
  .van-dialog__header {
    padding-top: 40px;
    height: 36px;
    font-size: 36px;
    color: rgba(51, 51, 51, 1);
  }
  .van-button--large {
    height: 90px;
  }
  .van-button {
    font-size: 32px;
  }
  .van-dialog__cancel {
    background: rgba(204, 204, 204, 1);
  }
  .van-dialog__confirm {
    background: #3fb6faff;
  }
  .van-button__text {
    color: #fff;
  }
  .van-dialog__message {
    font-size: 28px;
    padding: 40px 30px;
    color: rgba(51, 51, 51);
  }
}

/* 调整弹出框样式 */
